/analysis/target
/analysis/sootOutput
/analysis/logs
/analysis/results
/analysis/bin

/analysis/hs_err_*.log

# eclipse, intellij and vscode
/**/.classpath
/**/.project
/**/.settings
/**/__pycache__
/**/.vscode
/**/.idea

# temporary files
/**/*odp#

/examples/outputs
/examples/results.csv
/examples/results.csv.summary